In [63]:
from pathlib import Path
import pandas as pd
import json
from pandas.api.types import union_categoricals
from itertools import islice

In [2]:
# Load dicts of paths of binaries
with open('opm_dynamic_feather_path_dict.json', 'r') as infile:
    opm_dynamic_feather_path_dict = json.load(infile)

with open('opm_status_feather_path_dict.json', 'r') as infile:
    opm_status_feather_path_dict = json.load(infile)

In [3]:
with open('opm_dynamic_cat_col_list.json') as infile:
    opm_dynamic_cat_col_list = json.load(infile)

In [4]:
with open('opm_status_cat_col_list.json') as infile:
    opm_status_cat_col_list = json.load(infile)

In [5]:
# Store categorical variable map for each categorical variable and year in nested dict
opm_dynamic_cat_index_dict = {}
opm_status_cat_index_dict = {}

for col in opm_dynamic_cat_col_list:
    opm_dynamic_cat_index_dict[col] = {}
    for year, year_dict in opm_dynamic_feather_path_dict.items():
        opm_dynamic_cat_index_dict[col][year] = {}

for col in opm_status_cat_col_list:
    opm_status_cat_index_dict[col] = {}
    for year, year_dict in opm_status_feather_path_dict.items():
        opm_status_cat_index_dict[col][year] = {}

In [6]:
for year, qtr_dict in opm_dynamic_feather_path_dict.items():
    for qtr, str_path in qtr_dict.items():
        df = pd.read_feather(Path(str_path))

        for col in opm_dynamic_cat_col_list:
            cat_index = pd.CategoricalIndex(df[col])
            opm_dynamic_cat_index_dict[col][year][qtr] = cat_index

In [7]:
for year, qtr_dict in opm_status_feather_path_dict.items():
    for qtr, str_path in qtr_dict.items():
        df = pd.read_feather(Path(str_path))

        for col in opm_status_cat_col_list:
            cat_index = pd.CategoricalIndex(df[col])
            opm_status_cat_index_dict[col][year][qtr] = cat_index

In [8]:
# Find the union across years of each categorical variable, and store resulting union in dict
opm_dynamic_uc_dict = {}
for col, year_dict in opm_dynamic_cat_index_dict.items():
    cat_index_list = []
    for year, cat_index_dict in year_dict.items():
        for qtr, cat_index in cat_index_dict.items():
            cat_index_list.append(cat_index)
    
    opm_dynamic_uc_dict[col] = union_categoricals(cat_index_list)

In [9]:
opm_status_uc_dict = {}
for col, year_dict in opm_status_cat_index_dict.items():
    cat_index_list = []
    for year, cat_index_dict in year_dict.items():
        for qtr, cat_index in cat_index_dict.items():
            cat_index_list.append(cat_index)
    
    opm_status_uc_dict[col] = union_categoricals(cat_index_list)

In [10]:
# Update categorical mapping for all binaries, to enable type retention when concatenating
for year, qtr_dict in opm_dynamic_feather_path_dict.items():
    for qtr, str_path in qtr_dict.items():
        df = pd.read_feather(Path(str_path))

        for col, uc in opm_dynamic_uc_dict.items():
            df[col] = pd.Categorical(df[col], categories = uc.categories)

        df.to_feather(Path(str_path))

In [11]:
for year, qtr_dict in opm_status_feather_path_dict.items():
    for qtr, str_path in qtr_dict.items():
        df = pd.read_feather(Path(str_path))

        for col, uc in opm_status_uc_dict.items():
            df[col] = pd.Categorical(df[col], categories = uc.categories)

        df.to_feather(Path(str_path))

In [12]:
# Print out all categorical values
for col, cats in opm_dynamic_uc_dict.items():
    col = col.replace('/', '-')
    with open(f'../output/dynamic_{col}_cats.txt', 'w') as outfile:
        list = cats.categories.values.tolist()
        list.sort()
        for item in list:
            outfile.write(item + '\n')

In [13]:
# Print out all categorical values
for col, cats in opm_status_uc_dict.items():
    col = col.replace('/', '-')
    with open(f'../output/status_{col}_cats.txt', 'w') as outfile:
        list = cats.categories.values.tolist()
        list.sort()
        for item in list:
            outfile.write(item + '\n')

In [61]:
dynamic_df = pd.DataFrame()

In [64]:
for year, qtr_dict in islice(opm_dynamic_feather_path_dict.items(), 3):
    for qtr, str_path in qtr_dict.items():
        df = pd.read_feather(Path(str_path))
        df.rename(columns = {'Effective Date (year)': 'year', 'Effective Date (month)': 'month', 'Effective Date (day)': 'day'}, inplace = True)
        df['effective_date'] = pd.to_datetime(df[['year', 'month', 'day']])
        df = df[['Pseudo-ID', 'Employee Name', 'effective_date']]
        dynamic_df = pd.concat([dynamic_df, df])

In [65]:
status_df = pd.DataFrame()

In [68]:
for year, qtr_dict in islice(opm_status_feather_path_dict.items(), 3):
    for qtr, str_path in qtr_dict.items():
        df = pd.read_feather(Path(str_path))
        df.rename(columns = {'File Date (year)': 'year', 'File Date (month)': 'month', 'File Date (day)': 'day'}, inplace = True)
        df['file_date'] = pd.to_datetime(df[['year', 'month', 'day']])
        df = df[['Pseudo-ID', 'Employee Name', 'Education Level', 'file_date']]
        status_df = pd.concat([status_df, df])

In [69]:
status_df

         Pseudo-ID       Employee Name  file_date Education Level
0        000148862    STUCKEY,JAMES E, 1973-09-30             NaN
1        000278418      PALMER BETTY M 1973-09-30             NaN
2        003141713         SHAW MARY J 1973-09-30             NaN
3        003733130         NAGI SAAD Z 1973-09-30             NaN
4        003882030        WOLF JAMES L 1973-09-30             NaN
...            ...                 ...        ...             ...
1071824  009767227    CHARLICK,SUZANNE 1975-12-13              13
1071825  010153675   DE MARNE,MURIEL A 1975-12-13              **
1071826  010161407  ERICKSON,WILLIAM H 1975-12-13              04
1071827  010867612       WESTIN ALAN F 1975-12-13              04
1071828  010998104        FOOTE JOSEPH 1975-12-13              **

[20874566 rows x 4 columns]

In [70]:
status_df.drop_duplicates(subset = ['Pseudo-ID', 'Education Level'])

         Pseudo-ID            Employee Name  file_date Education Level
0        000148862         STUCKEY,JAMES E, 1973-09-30             NaN
1        000278418           PALMER BETTY M 1973-09-30             NaN
2        003141713              SHAW MARY J 1973-09-30             NaN
3        003733130              NAGI SAAD Z 1973-09-30             NaN
4        003882030             WOLF JAMES L 1973-09-30             NaN
...            ...                      ...        ...             ...
1071760  000401463  NAME WITHHELD BY AGENCY 1975-12-13              **
1071767  003190889          MOSESSO,JOHN P. 1975-12-13              17
1071784  006501170  NAME WITHHELD BY AGENCY 1975-12-13              **
1071795  008884915      CARVER WILLIAM H JR 1975-12-13              **
1071821  008603115             CARR,JAMES G 1975-12-13              **

[3223854 rows x 4 columns]